.page.theme_light {
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --decor-color: #353430;
  --title-color: #ffc2e6;
  --section-title-color: #353430;
  --subtitle-decor-color: #353430;
  --text-color: #353430;
  --hover-border-color: rgba(50 49 45 / 0.4);
}

.page.theme_light .decorated-zone-item {
  display: none;
}

@media screen and (width >= 1024px) {
  .page.theme_light .title {
    text-shadow: 4px 4px 0 #ff0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --decor-color: #353430;
    --title-color: #ffc2e6;
    --section-title-color: #353430;
    --subtitle-decor-color: #353430;
    --text-color: #353430;
    --hover-border-color: rgba(50 49 45 / 0.4);
  }
  .decorated-zone-item {
    display: none;
  }
}

@media (prefers-color-scheme: light) and (width >= 1024px) {
  .title {
    text-shadow: 4px 4px 0 #ff0070;
  }
}
