.page {
  font-family: "IBM Plex mono", monospace;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  inline-size: 100%;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  block-size: 100vb;
  min-block-size: 668px;
  padding: clamp(0.625rem, 0.029rem + 2.545vi, 1.25rem);
  margin-block-end: clamp(2.5rem, 5.089vw + 1.307rem, 3.75rem);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-inline-start: clamp(0.625rem, 2.545vw + 0.029rem, 1.25rem);
  inset-block-end: clamp(0.625rem, 2.545vw + 0.029rem, 1.25rem);
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--decor-color, #ff0070);
  border-block-end: 1px solid var(--decor-color, #ff0070);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-block-start: clamp(0.625rem, 2.545vw + 0.029rem, 1.25rem);
  inset-inline-end: clamp(0.625rem, 2.545vw + 0.029rem, 1.25rem);
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--decor-color, #ff0070);
  border-block-start: 1px solid var(--decor-color, #ff0070);
}

.decorated-zone-item {
  position: absolute;
  right: clamp(1.188rem, 2.799vw + 0.531rem, 1.875rem);
  top: clamp(0.625rem, 2.29vw + 0.088rem, 1.188rem);
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var(--accent-color, #ff0070);
}

.decorated-zone-item::after {
  content: "";
  display: inline-block;
  background-color: var(--accent-color, #ff0070);
  margin-inline-start: 10px;
  margin-block: 2px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px red;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-button {
  font-size: 18px;
  line-height: 1;
  text-transform: lowercase;
  color: var(--decor-color, #ff0070);
  margin-block: 6px;
  background-color: transparent;
  border: 1px solid transparent;
  vertical-align: middle;
  padding-inline: 0.75rem;
  padding-bottom: 0.25rem;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-border-color, rgba(255, 0, 112, 0.4));
  cursor: pointer;
}

.header__theme-menu-button:focus,
.link:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid currentColor;
}

.title {
  font-size: var(--title__font-size);
  line-height: 82.5%;
  font-weight: bold;
  color: var(--title-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header .subtitle {
  justify-self: end;
  inline-size: clamp(22.188rem, 2.29vw + 21.651rem, 22.75rem);
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: clamp(3.125rem, 7.634vw + 1.336rem, 5rem);
  margin-block-end: clamp(2.5rem, 5.089vw + 1.307rem, 3.75rem);
}

.main__section {
  padding-inline: clamp(0.625rem, 0.029rem + 2.545vi, 1.25rem);
}

.section__title {
  font-size: 18px;
  line-height: 130%;
  font-weight: bold;
  color: var(--section-title-color, #ff0070);
  margin-block-end: 20px;
}

.subtitle {
  font-size: 18px;
  line-height: 130%;
  font-weight: bold;
  background-color: var(--accent-color, #ff0070);
  color: var(--subtitle-decor-color, #000028);
  margin-block-end: 10px;
}

.text {
  font-size: 18px;
  line-height: 130%;
  font-weight: normal;
  color: var(--text-color, #f1b2ce);
}

.text:not(:last-of-type) {
  margin-block-end: 20px;
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--text-color, #f1b2ce);
}

.link:focus-visible {
  display: inline-block;
  outline: 1px solid currentColor;
  line-height: 0.5;
  padding-bottom: 5px;
}

.difference-text-container .subtitle:first-child {
  margin-block-end: 20px;
}

.difference-text-container .subtitle:not(:first-child) {
  font-weight: normal;
}

.gallery {
  display: grid;
  gap: clamp(0.625rem, 0.029rem + 2.545vi, 1.25rem);
}

.gallery .subtitle {
  margin: 0;
}

.image {
  inline-size: 100%;
  block-size: 100%;
  object-position: center;
  object-fit: cover;
}

.footer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  block-size: 100vb;
  min-block-size: 668px;
}

.footer .title {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}
@media screen and (width >= 768px) {
  .header .title {
    margin-inline-start: -20px;
  }

  .header .subtitle {
    inline-size: 50%;
  }

  .main__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-block-end: 0;
  }
  .main__section:nth-of-type(2) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .main__section:nth-of-type(2) .section__title {
    grid-column: 1 / 2;
    margin: 0;
  }
  .main__section:nth-of-type(2) .text-container {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .gallery .subtitle {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
  }
  .image-sunset {
    grid-row: 2 / 3;
    grid-column: 1 / span 2;
  }
  .image-ice-cream {
    grid-row: 2 / 4;
  }
  .image-tape {
    grid-row: 3 / span 2;
  }
  .image-street {
    grid-column: 2 / span 2;
  }
}

@media screen and (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    /*margin-block-start: -0.4rem;*/
  }
  .header__theme-menu-list {
    display: flex;
  }
  .header__theme-menu-button {
    margin: 0 0.4rem;
  }
  .main__section {
    grid-template-columns: repeat(3, 1fr);
  }
  .text-container {
    grid-column: 2 / 4;
  }
  .main__section:nth-of-type(2) .text-container {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }
  .main__section:nth-of-type(2) .text-container .subtitle {
    grid-row: 1 / 2;
  }
}
